<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="0fragment0/layout::head">
</head>
<body>
<div th:replace="0fragment0/layout::header"></div>

<div class="d-flex flex-column h-75 justify-content-center">
    <div class="logIn col-md-5 col-10 rounded-3 p-5 box-shadow">
        <form action="">
            <h2 class="text-uppercase text-light text-center fs-1">signUp</h2>
            <p class="text-secondary text-center">Please fill out this form!</p>
            <div class="inputs">
                <input class="rounded-pill text-center text-light d-flex" placeholder="Username" type="text">
                <input class="rounded-pill text-center text-light d-flex mt-4" placeholder="Email" type="email">
                <input class="rounded-pill text-center text-light d-flex mt-4" placeholder="Password" type="password">
                <input class="rounded-pill text-center text-light d-flex mt-4" placeholder="Phonenumber" type="text">
            </div>

            <div class="d-flex flex-column align-items-center mt-4">
                <div class="form-check">
                    <input class="form-check-input" id="terms" type="checkbox">
                    <label class="text-light form-check-label" for="terms">Terms &amp; Conditions</label>
                </div>
            </div>

            <div class="d-flex flex-column align-items-center links">
                <a th:href="@{/user}" class="text-secondary text-decoration-none mt-2">Already have an account? Click here!</a>
            </div>

            <div class="submit-logIn">
                <input class=" rounded-pill d-flex mt-3 text-light p-2 ps-4 pe-4" type="button" value="SignUp">
            </div>
        </form>
    </div>
</div>

<div th:replace="0fragment0/layout::script"></div>
</body>
</html>