<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${title}">$Title$</title>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link th:href="@{css/main.css}" rel="stylesheet">
    <link th:href="@{css/logIn-signUp.css}" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<!--header-->
<div th:fragment="header">
    <header class="d-flex justify-content-between align-items-center pt-3 pb-3">
        <div class="align-items-end">
            <a class="m-3 rounded-pill login-sinup-btn" th:href="@{/user/home}">Login</a>
            <a class="m-3 rounded-pill ms-0 login-sinup-btn" th:href="@{/signup}">Signup</a>
        </div>

        <div class="align-items-center me-4">
            <i class="bi bi-person  fs-2 user-icon" data-bs-toggle="modal" data-bs-target="#user-info"></i>
            <a href="#" class="bi bi-house fs-2 user-icon ms-2"></a>
        </div>
    </header>
</div>

<!--footer-->
<div th:fragment="footer">
    <footer class="mt-5 p-5" style="">
        <h3>Contact Us:</h3>
        <nav>
            <div>
                <label class="mb-0 mt-3 me-2">Email: </label>
                <a class="text-light text-decoration-none contact-link" href="#">Test@gmail.com</a>
            </div>

            <div>
                <label class="mb-0 mt-3 me-2">Linkedin: </label>
                <a class="text-light text-decoration-none contact-link" href="#">test</a>
            </div>

            <div>
                <label class="mb-0 mt-3 me-2">Github: </label>
                <a class="text-light text-decoration-none contact-link" href="#">Test.com</a>
            </div>
        </nav>
    </footer>
</div>
<!--script-->
<div th:fragment="script">
    <script crossorigin="anonymous"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js">
    </script>
</div>
</body>
</html>