<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="0fragment0/layout::head">
</head>
<body>

<div class="container text-center">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-5">
            <div class="container h-50">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                                <div class="card-body text-center">

                                    <form th:action="@{/change-password}" method="post">
                                        <div class="container text-center mb-3 img-fluid">
                                            <img alt="default" class="mt-2" style="width: 110px" th:src="@{'/img/default.png'}">
                                        </div>

                                        <div class="container text-center">
                                            <h1>Forgot password</h1>
                                            <hr>
                                            <input type="password" name="newPassword" class="form-control mt-2" placeholder="Enter new password">
                                            <button class="btn btn-outline-warning mt-3" type="submit">Change Password</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<div th:replace="0fragment0/layout::script"></div>
</body>
</html>